<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
</head>
<body class="text-center">
<div>
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
        <img src="/static/img/plum.png" class="my-0 mr-md-auto img-fluid" alt="icon"/>
        <a href="#" class="my-2 my-md-0 mr-md-3"></a>
        <button class="btn btn-primary authenticated" style="display: none">logout</button>
    </header>
    <main role="main" class="container">
        <h2 class="mb-5 font-weight-bold bg-success text-white">Dane użytkownika</h2>
        <div class="row">
            <div class="col">
                <form th:method="post" th:action="@{/profile}" th:object="${user}">
                    <input type="text" th:field="*{id}" hidden>
                    <input type="text" th:field="*{username}" hidden>
                    <input type="text" th:field="*{password}" hidden>
                    <div class="form-group">
                        <label for="user" class="float-left font-weight-bold">nazwa użytkownika</label>
                        <input type="text" class="form-control" name="user" id="user" th:value="*{username}"
                               disabled>
                    </div>
                    <div class="form-group">
                        <label for="fullname" class="float-left font-weight-bold">Imię i nazwisko</label>
                        <input type="text" class="form-control" name="fullname" id="fullname" th:field="*{fullName}"
                               th:disabled="${disabled}">
                    </div>
                    <div class="form-group">
                        <label for="email" class="float-left font-weight-bold">Email</label>
                        <input type="email" class="form-control" name="email" id="email" th:field="*{email}"
                               th:disabled="${disabled}">
                    </div>

                    <th:block th:switch="${disabled}">
                        <th:block th:case="true">
                            <input type="submit" class="btn btn-primary" value="edytuj profil" name="edit">
                        </th:block>
                        <th:block th:case="false">
                            <input type="submit" class="btn btn-primary" value="zapisz" name="save">
                            <input type="submit" class="btn btn-secondary" value="anuluj" name="cancel">
                        </th:block>
                    </th:block>

                    <th:block th:if="${#fields.hasErrors()}">
                        <th:block th:each="error : ${#fields.errors()}">
                            <div class="alert alert-danger" role="alert" th:text="${error}">
                            </div>
                        </th:block>
                    </th:block>
                </form>
                <form method="post" th:action="@{/profile}" th:object="${passwordDto}">
                    <div class="form-group">
                        <label for="pass" class="float-left font-weight-bold">hasło</label>
                        <input type="password" class="form-control" id="pass" name="pass" th:field="*{password}" th:disabled="${pdisabled}">
                        <small class="form-text text-muted">hasło powinno zawierać minimum 8 znaków w tym znaki specjalne</small>
                    </div>
                    <div class="form-group">
                        <label for="repass" class="float-left font-weight-bold">powtórz hasło</label>
                        <input type="password" class="form-control" id="repass" name="repass" th:field="*{rePassword}" th:disabled="${pdisabled}">
                    </div>

                    <th:block th:switch="${pdisabled}">
                        <th:block th:case="true">
                            <input type="submit" class="btn btn-primary" name="pedit" value="zmień hasło">
                        </th:block>
                        <th:block th:case="false">
                            <input type="submit" class="btn btn-primary" name="psave" value="zapisz hasło">
                            <input type="submit" class="btn btn-secondary" name="cancel" value="anuluj">
                        </th:block>
                    </th:block>

                    <th:block th:if="${#fields.hasErrors()}">
                        <th:block th:each="error : ${#fields.errors()}">
                            <div th:text="${error}" class="alert alert-danger" role="alert">
                            </div>
                        </th:block>
                    </th:block>
                </form>

            </div>
            <div class="col">
                <span class="form-text font-weight-bold">Twój avatar</span>
                <div>
                    <img src="/static/img/plum.png" class="my-2 mr-md-auto img-fluid" alt="icon"/>
                    <form method="post" th:action="@{/profile}" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="file" class="my-2 mr-md-auto">Dodaj avatar:</label>
                            <input type="file" name="file" id="file" accept="image/*">
                        </div>
                        <input type="submit" class="btn btn-dark" name="upload" value="załaduj">
                    </form>
                </div>

            </div>
        </div>
    </main>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Social Login App by <a href="#">@slaskww</a>.</p>
        </div>
    </footer>
</div>

</body>
</html>